:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  --accent: #21325e;
  --primary: #3e497a;
  --secondary: #f1d00a;
  --white: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
